body {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }
}

.v-app {
  //font-family: 'Montserrat', sans-serif !important;
  font-family: 'Exo 2', sans-serif;
}

.modal-card {
  border-radius: $border-radius;

  &-title {
    font-family: 'Exo 2', sans-serif;
    font-weight: 800;
  }
}

.block-head {
  border-bottom: 2px solid var(--secondary);

  &__title {
    color: var(--primary);
    font-size: 1.2rem;
  }
}
