$header-height: 60px;
$navigation-width: 247px;
$page-top-padding: 6px;
$layout-padding-top: calc(#{$header-height} + #{$page-top-padding});
$layout-padding-right: 10px;
$layout-padding-bottom: 10px;

:export {
  headerHeight: $header-height;
  navigationWidth: $navigation-width;
}
