.slide-down-enter-active,
.slide-down-leave-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.5s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  opacity: 0;
  transform: translateY(-100%);
}
