.form-card {
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;

  &__head {
    position: relative;
  }

  &__icon {
    border-radius: $border-radius;
    font-size: 0.9rem;
    min-height: 32px;
    padding: 0;
  }

  &__title {
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-size: 0.8rem;
    font-weight: 700;
  }

  &__body {
    overflow-x: auto;
  }

  &__subtitle {
    font-size: 0.7rem;
    min-height: 32px;
    padding: 0;
  }
}
