.form-card {
  overflow: visible;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__head {
    position: relative;
  }

  &__icon {
    font-size: .9rem;
    padding: 0;
    min-height: 32px;
    border-radius: $border-radius;

    &-item {

    }
  }

  &__title {
    font-size: .8rem;
    border-bottom-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    font-weight: 700;
  }


  &__body {
    overflow-x: auto;
  }

  &__subtitle {
    font-size: .7rem;
    padding: 0;
    min-height: 32px;
  }
}
