.card-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.image {
  border: 2px solid transparent;
}

.product-image--main {
  border-color: var(--primary) !important;
}

.attribute:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.images-menu {
  &__item {
    cursor: pointer;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.product-modal-block {
  border-radius: $border-radius;
  overflow: hidden;
}

.block-head {
  border-bottom: 6px solid #eaeaea;
}
