$hover-color: #e8e8e8;

.app-sidebar {
  width: 100%;
  height: 100%;
}

.navigation-item {
  cursor: pointer;
  transition: background-color .2s linear;

  &--active {
    background-color: var(--primary);
    color: white;
  }

  &:hover:not(.navigation-item--active) {
    background-color: $hover-color;
  }

  &__group {
    & >.v-group__header {
      padding-left: 4px;
      transition: background-color .2s linear;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
